:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;

  /*Colors */

  /*Text*/
  --dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --hover-red: hsl(14, 67%, 84%);

  /*Gradient */
  --gradient: linear-gradient(to right, var(--soft-violet), var(--soft-blue));
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Text */
  --dark-grayish-blue: hsl(237, 12%, 33%);
  --very-dark-grayish-blue: hsl(240, 6%, 50%);

  --white: hsl(0, 0%, 100%);

  /* Font */
  --fw-bold: 700;
  --fw-normal: 400;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--gradient);
  font-family: "Kumbh Sans", sans-serif;
  text-rendering: optimizeSpeed;
}

p {
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 850px;
  height: 450px;
  background-image: url("/src/assets/images/bg-pattern-desktop.svg");
  background-size: 55rem;
  background-position: top -9rem left -25rem, bottom 0 right 0rem;
  background-repeat: no-repeat;
  background-color: var(--white);
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 0 20px;
  border-radius: 15px;
  align-items: start;
  text-align: left;
  margin-left: -20px;
  margin-right: 20px;
  margin-top: 30px;
}

.image-wrapper {
  background: url("/src/assets/images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 97%;
  background-position: -5vw;
}

.box-img {
  position: relative;
  left: -100px;
  top: 200px;
}

hr {
  background-color: #dcdcdc;
  border: none;
  height: 2px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/*Accordion*/
.accordion {
  background-color: var(--white);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 2px;
}

.active {
  color: var(--dark-desaturated-blue);
  font-weight: var(--fw-bold);
}
.accordion:hover {
  color: var(--soft-red);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.arrow-icon {
  float: right;
  margin-top: 5px;
}

.desktop-img {
  position: relative;
  width: 100%;
  height: auto;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-img {
  display: none;
}

.attribution a {
  text-decoration: none;
  color: var(--white);
  font-size: 13px;
  margin-right: 6px;
  margin-left: 3px;
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 760px) {
  .card {
    display: flex;
    flex-direction: column;

    background-image: none;
    background-color: var(--white);
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url("/src/assets/images/bg-pattern-mobile.svg");
    background-size: 74%;
    background-position: 36px 0px;
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
  }

  .main-content {
    background-color: var(--white);
    padding: 0 20px;
    border-radius: 15px;
    align-items: start;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    order: 2;
  }

  .accordion {
    margin-bottom: 5px;
  }

  .image-wrapper {
    display: none;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: -140px;
  }

  .box-img {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .attribution {
    font-size: 13px;
    text-align: center;
    margin-top: 200px;
  }
}
